.avtimgss {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;
  align-self: flex-start;
  &.own {
    align-self: flex-end;

    .texts {
      .maintext {
        background-color: cyan;
        color: black;
      }
    }
    img {
      width: 400px;
      border-radius: 10px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  img {
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
      width: 400px;
      border-radius: 10px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .maintext {
      background-color: rgba(17, 25, 40, 0.8);
      color: cyan;
      padding: 20px;
      border-radius: 10px;
    }
    span {
      font-size: 14px;
      color: #888;
    }
  }
}

.center::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.center::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.center::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

@media (max-width: 800px) {
  .avtimgss {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .message {
    .texts {
      img {
        width: 200px;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
