.avtimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;

  &.own {
    align-self: flex-end;

    .texts {
      .maintext {
        background-color: #5183fe;
      }
    }
  }
  img {
    width: 400px;
    /* height: 200px; */
    border-radius: 5px;
    object-fit: cover;
  }
  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      object-fit: cover;
    }

    .maintext {
      background-color: rgba(17, 25, 40, 0.3);
      padding: 20px;
      border-radius: 10px;
    }
    span {
      font-size: 13px;
    }
  }
}
.center::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.center::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the scrollbar thumb */
}

/* Webkit browsers (Chrome, Safari) */
.center::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
